<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.zhangsken.libapputils" >

    <application>
        <activity android:name="com.github.zhangsken.libapputils.CrashHandler$CrashActiviy"/>
    </application>

</manifest>

